// Variables

// Gray and Brand Colors for use across theme

@theme-primary:    #E91E63;
@font-color: #424242;
// @theme-danger:     #e74c3c;


// reset css
//* {
    // border: 0.001rem solid lightsteelblue;
//}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
    color: @font-color;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Nanum Square';
    -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

// Layout
body {
    overflow: hidden;
}
header {
   height: 5%; 
}
#wrapper {
    display: flex;
    height: 80%;
}
footer {
    height: 15%;
}

/* font*/
.verticalCenterFont {
    position: relative;
    vertical-align: middle;
    transform: translateY(-50%);
    top: 50%;
}

.albumTitleBar {
    width: 100%;
    position: relative;
    h1 {
        font-size: 1rem;
        text-align: center;
        .verticalCenterFont
        

    }
}

#mediaPlayView {
    width: 55%;
}

.videoPlayer {
    height: 55%;
}

.userPlaylist{
    height: 45%;
    background: lightyellow;
}

#editPlaylist{
    width: 50%;
    background: lightgoldenrodyellow;
}

#main{
    display: flex;
    min-height: 100%;
    width: 94%;
}

footer{
    bottom: 0;
    position: fixed;
    background: burlywood;
}

nav {
    width: 6%;
    ul {
        height: 100%;
        display: flex;          
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        background: linen;
    }
    li {
        font-size: 0.9rem;
        min-height: 25%;
        width: 100%;
        text-align: center;
    }
}

/* video */
.videoPlayer {
    width: 100%;
}